---
import Layout from "../layouts/Layout.astro";

// component imports
import Header from "../components/dashboard/Header.astro";
---

<Layout title="Pagos" description="Sección de pagos">
    <Header />
    <div class="sections">
        <section>
            <h1>Desafíos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, blanditiis. Ipsam animi, a dolorem alias, quisquam similique amet autem, aliquid placeat cum qui voluptate ducimus facere recusandae sint debitis. Suscipit.</p>
        </section>
    </div>
</Layout>

<style lang="scss">
  .sections {
    padding-inline: 2rem;
  }

  section {
    height: 100vh;
    padding: .5rem;
    background-color: hsl(var(--main-light));
    border: 1px solid hsl(var(--main-color));
  }
</style>