---
// astro imports
import { fade } from "astro:transitions";

import Layout from "../layouts/Layout.astro";

// component imports
import Header from "../components/dashboard/Header.astro";
import UserFeedback from "../components/dashboard/UserFeedback.astro";
import Courses from "../components/dashboard/Courses.astro";
---

<Layout
  transition:animate={fade({ duration: "0.2s" })}
  title="Home"
  description="hello">
	<Header />
	<div class="sections">
		<UserFeedback />
		<Courses />
	</div>
</Layout>

<style lang="scss">
  .sections {
    padding-inline: 2rem;
  }
</style>
