<section>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima animi hic natus id dolor autem ad possimus! Tempora soluta nostrum, repudiandae commodi, sunt voluptas vel excepturi, numquam nobis blanditiis non.
    </p>

    <img transition:name="dog" class="lorem" src="https://picsum.photos/id/237/200/300" alt="">
</section>

<style lang="scss">
    section {
        display: flex;

        & > * {
            flex: 1 0 50%;
        }
    }
</style>