---
// astro imports
import { Icon } from "astro-icon";
---

<footer>
  <nav transition:persist>
    <a
      href="/"
      >
      <Icon
        class="icon"
        name="ic:baseline-house"
      />
      <span class="text">Inicio</span>
    </a>
    <a 
      href="/challenges">
      <Icon
        class="icon"
        name="ic:baseline-text-snippet"
      />
      <span class="text">Desafíos</span>
    </a>
    <a 
      href="/courses">
      <Icon
        class="icon"
        name="ic:baseline-menu-book"
      />
      <span class="text">Cursos</span>
    </a>
    <a
      href="/payments">
      <Icon
        class="icon"
        name="ic:baseline-attach-money"
      />
      <span class="text">Pagos</span>
    </a>
  </nav>
</footer>

<style lang="scss">
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 800px;
    margin-inline: auto;
    background-color: hsl(var(--main-color));

    nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding-inline: 2rem;

      a {
        display: grid;
        place-items: center;
        gap: 0.25rem;
        color: hsl(var(--main-light));
        text-decoration: none;
        padding-block: 0.75rem;

        .icon {
          width: 28px;
        }

        .text {
          font-size: 0.75rem;
        }

        &:is(.active) {
          color: hsl(var(--important));
          background: hsl(var(--main-light));
          .text {
            font-weight: 900;
          }
        }

        &:is(:hover, :focus, :focus-visible) {
          opacity: 0.9;
        }
      }
    }
  }
</style>

<script>
const updateActiveLink = () => {

  const currentPage = window.location.pathname;
  const links = document.querySelectorAll('a');

  links.forEach(link => {
    if (link.getAttribute('href') === currentPage) {
      link.classList.add('active');
    } else {
      link.classList.remove('active');
    }
  });
};

// Runs on initial navigation
document.addEventListener('astro:load', () => {
  updateActiveLink();
});
</script>
